@{
    ViewData["Title"] = "Политика использования Cookies";
}
<head>
    <link href="~/css/legal-pages.css" rel="stylesheet" />
</head>

<div class="container mt-5">
    <h1 class="text-center text-white">Политика использования Cookies</h1>
    <div class="cookies-policy-text">
        <p> <strong>1. Общие положения</strong></p>
        <p>Условия настоящей Политики использования Файлов Cookies (далее "Политика") распространяются на Сайт, который предоставляет доступ к различным сервисам, включая услуги по размещению информации и взаимодействию с контентом. Пользователь, используя Сайт, подтверждает, что ознакомлен с условиями этой Политики и согласен с её условиями.</p>

        <p>Целью настоящей Политики является:</p>
        <ul>
            <li>1) Проинформировать о перечне используемых и автоматически загружаемых на устройство Пользователя Файлов Cookies;</li>
            <li>2) Уведомить о целях установки и использования Файлов Cookies, а также сроках их хранения/установки на устройстве Пользователя;</li>
            <li>3) Информировать Пользователя о способах отключения Файлов Cookies и/или их удаления с устройства.</li>
        </ul>

        <p> <strong>2. Для чего используются файлы Cookies?</strong></p>
        <p>2.1. Оператор использует Файлы Cookies с целью:</p>
        <ul>
            <li>1) Сохранения информации о Пользователе на время использования им Сайта, что позволяет улучшить пользовательский опыт и ускорить взаимодействие;</li>
            <li>2) Идентификации Пользователя (распознание браузера и/или устройства), для того чтобы не требовать повторной авторизации на каждой странице;</li>
            <li>3) Анализа посещаемости сайта и работы с контентом, чтобы предоставлять актуальную информацию, а также улучшать качество сервиса;</li>
            <li>4) Обеспечения функционирования отдельных разделов Сайта, например, хранения данных пользователя, таких как предпочтения и настройки;</li>
            <li>5) Персонализации контента и рекламы в зависимости от предпочтений и интересов Пользователя;</li>
            <li>6) Проведения маркетинговых исследований и анализа поведения пользователей с целью улучшения услуг.</li>
        </ul>

        <p> <strong>3. Как удалить/отключить файлы Cookies?</strong></p>
        <p>Каждый Пользователь может отключить работу Файлов Cookies на устройстве, следуя инструкциям для конкретного браузера. Обратите внимание, что отключение cookies может ограничить доступ к некоторым функциям и сервисам Сайта:</p>
        <ul>
            <li>Для Google Chrome – изменить параметры браузера по инструкции: <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=ru" target="_blank">https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=ru</a></li>
            <li>Для Firefox – изменить параметры браузера по инструкции: <a href="https://support.mozilla.org/ru/kb/uluchshennaya-zashita-ot-otslezhivaniya-v-firefox-?redirectlocale=en-US&redirectslug=enable-and-disable-cookies-website-preferences" target="_blank">https://support.mozilla.org/ru/kb/uluchshennaya-zashita-ot-otslezhivaniya-v-firefox-?redirectlocale=en-US&redirectslug=enable-and-disable-cookies-website-preferences</a></li>
            <li>Для Safari – изменить параметры браузера по инструкции: <a href="https://support.apple.com/ru-ru/guide/safari/sfri11471/mac" target="_blank">https://support.apple.com/ru-ru/guide/safari/sfri11471/mac</a></li>
        </ul>

        <p> <strong>4. Согласие на использование Файлов Cookies</strong></p>
        <p>Используя Сайт, Пользователь соглашается на установку Файлов Cookies на своём устройстве в соответствии с условиями данной Политики. Пользователь может в любой момент изменить настройки браузера для отключения cookies или удалить их, но следует учитывать, что это может повлиять на работу некоторых функций Сайта.</p>

        <p> <strong>5. Изменения в Политике использования Cookies</strong></p>
        <p>Администрация оставляет за собой право в любое время изменять условия данной Политики, включая добавление новых или изменение существующих положений. Все изменения вступают в силу с момента их публикации на Сайте. Пользователи обязаны периодически проверять обновления Политики, чтобы быть в курсе изменений.</p>

        <p> <strong>6. Контакты</strong></p>
        <p>Если у Вас есть вопросы относительно использования файлов Cookies или другие вопросы по поводу нашей Политики, пожалуйста, свяжитесь с нами через контактную информацию на Сайте.</p>

        <div class="button__wrapper">
            <a href="@Url.Action("Login","Home")" class="button button__play" style="justify-content:center;">Вернуться в меню</a>
        </div>

    </div>
</div>
