@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<head>
    <link href="~/css/legal-pages.css" rel="stylesheet" />
</head>

<div class="container mt-5">
    <h1 class="text-center text-white">Политика конфиденциальности</h1>
    <div class="cookies-policy-text">
        <p>1. <strong>Общие положения</strong></p>
        <p>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. № 152-ФЗ "О персональных данных" (далее — Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных. Предпринимает их Шиндин Даниил Андреевич (далее — Оператор).</p>
        <p>1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</p>
        <p>1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее — Политика) применяется ко всей информации, которую Оператор может получить о посетителях сайта https://quizik.fun.</p>

        <p>2. <strong>Основные понятия, используемые в Политике</strong></p>
        <p>2.1. Автоматизированная обработка персональных данных — обработка персональных данных с помощью средств вычислительной техники.</p>
        <p>2.2. Блокирование персональных данных — временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).</p>
        <p>2.3. Сайт — совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу https://quizik.fun.</p>

        <p>3. <strong>Основные права и обязанности Оператора</strong></p>
        <p>3.1. Оператор имеет право:</p>
        <ul>
            <li>получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;</li>
            <li>в случае отзыва субъектом персональных данных согласия на обработку персональных данных, а также, направления обращения с требованием о прекращении обработки персональных данных, Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных;</li>
            <li>самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами.</li>
        </ul>

        <p>4. <strong>Основные права и обязанности субъектов персональных данных</strong></p>
        <p>4.1. Субъекты персональных данных имеют право:</p>
        <ul>
            <li>получать информацию, касающуюся обработки его персональных данных, за исключением случаев, предусмотренных федеральными законами. Сведения предоставляются субъекту персональных данных Оператором в доступной форме, и в них не должны содержаться персональные данные, относящиеся к другим субъектам персональных данных, за исключением случаев, когда имеются законные основания для раскрытия таких персональных данных. Перечень информации и порядок ее получения установлен Законом о персональных данных;</li>
            <li>требовать от оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав;</li>
            <li>выдвигать условие предварительного согласия при обработке персональных данных в целях продвижения на рынке товаров, работ и услуг;</li>
            <li>на отзыв согласия на обработку персональных данных, а также, на направление требования о прекращении обработки персональных данных;</li>
        </ul>

        <p>5. <strong>Принципы обработки персональных данных</strong></p>
        <ul>
            <li>Обработка персональных данных осуществляется на законной и справедливой основе.</li>
            <li>Обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных целей.</li>
            <li>Обработке подлежат только персональные данные, которые отвечают целям их обработки.</li>
            <li>При обработке персональных данных обеспечивается точность персональных данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки персональных данных.</li>
        </ul>

        <p>6. <strong>Условия обработки персональных данных</strong></p>
        <ul>
            <li>Обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных.</li>
            <li>Обработка персональных данных необходима для достижения целей, предусмотренных международным договором Российской Федерации или законом, для осуществления возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей.</li>
            <li>Обработка персональных данных необходима для осуществления правосудия, исполнения судебного акта, акта другого органа или должностного лица, подлежащих исполнению в соответствии с законодательством Российской Федерации об исполнительном производстве.</li>
        </ul>

        <div class="button__wrapper">
            <a href="@Url.Action("Login","Home")" class="button button__play" style="justify-content:center;">Вернуться в меню</a
        </div>

    </div>
</div>
