@{
    ViewData["Title"] = "Правила использования";
}
<head>
    <link href="~/css/legal-pages.css" rel="stylesheet" />
</head>

<div class="container mt-5">
    <h1 class="text-center text-white">Правила использования</h1>
    <div class="cookies-policy-text">

        <p><strong>1. Предмет соглашения</strong></p>
        <p>Настоящее Пользовательское Соглашение (далее «Соглашение») регулирует отношения между владельцем сайта Quizik (далее «Администрация» или «Quizik») с одной стороны и пользователем сайта с другой стороны. Сайт Quizik не является средством массовой информации.</p>

        <p>Используя сайт, Вы соглашаетесь с условиями данного соглашения. Если Вы не согласны с условиями настоящего соглашения, не используйте сайт Quizik!</p>

        <p><strong>2. Права и обязанности сторон</strong></p>

        <p><strong>Пользователь имеет право:</strong></p>
        <ul>
            <li>Осуществлять поиск информации на сайте, включая различные викторины, вопросы и ответы.</li>
            <li>Получать информацию на сайте по различным темам викторин.</li>
            <li>Комментировать контент, выложенный на сайте, делиться собственными мнениями и рекомендациями.</li>
            <li>Копировать информацию с сайта на другие ресурсы с обязательным указанием источника.</li>
            <li>Требовать от администрации скрытия или удаления любой информации о пользователе, если она была опубликована по ошибке.</li>
            <li>Использовать информацию сайта для личных, некоммерческих целей, улучшая свои знания.</li>
        </ul>

        <p><strong>Администрация имеет право:</strong></p>
        <ul>
            <li>По своему усмотрению и необходимости создавать, изменять или отменять правила использования сайта.</li>
            <li>Ограничивать доступ к любой информации на сайте, если она нарушает установленные правила.</li>
            <li>Создавать, изменять, удалять информацию на сайте.</li>
            <li>Удалять учетные записи пользователей, нарушающих правила.</li>
            <li>Отказывать в регистрации без объяснения причин.</li>
        </ul>

        <p><strong>3. Обязанности пользователя</strong></p>
        <p>Пользователь обязуется:</p>
        <ul>
            <li>Обеспечивать достоверность предоставляемой информации, включая личные данные.</li>
            <li>Обеспечивать сохранность своих личных данных от доступа третьих лиц.</li>
            <li>Обновлять Персональные данные, предоставленные при регистрации, в случае их изменения.</li>
            <li>Не копировать информацию с других источников без указания авторства.</li>
            <li>При копировании информации с других источников, включать в её состав информацию об авторе.</li>
            <li>Не распространять информацию, направленную на пропаганду насилия, войны, разжигание ненависти, а также иную информацию, за распространение которой предусмотрена уголовная или административная ответственность.</li>
            <li>Не нарушать работоспособность сайта.</li>
            <li>Не создавать несколько учетных записей, если они принадлежат одному пользователю.</li>
            <li>Не совершать действия, направленные на введение других пользователей в заблуждение.</li>
            <li>Не передавать свою учетную запись и/или логин и пароль третьим лицам.</li>
            <li>Не регистрировать учетную запись от имени или вместо другого лица, за исключением случаев, предусмотренных законодательством РФ.</li>
            <li>Не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а также иную информацию, размещение которой запрещено или противоречит нормам действующего законодательства РФ.</li>
            <li>Не использовать скрипты или программы для автоматизированного сбора информации и/или взаимодействия с сайтом и его сервисами.</li>
        </ul>

        <p><strong>4. Ответственность сторон</strong></p>
        <ul>
            <li>Пользователь лично несет полную ответственность за распространяемую им информацию.</li>
            <li>Администрация не несет ответственности за достоверность информации, скопированной из других источников.</li>
            <li>Администрация не несет ответственности за несовпадение ожиданий пользователя с реальными результатами использования сайта.</li>
            <li>Администрация не несет ответственности за услуги, предоставляемые третьими лицами.</li>
            <li>В случае возникновения форс-мажорных обстоятельств (боевые действия, чрезвычайное положение, стихийные бедствия и т. д.), Администрация не гарантирует сохранность информации, размещенной пользователем, а также бесперебойную работу сайта.</li>
        </ul>

        <p><strong>5. Условия действия Соглашения</strong></p>
        <ul>
            <li>Данное Соглашение вступает в силу с момента использования сайта.</li>
            <li>Соглашение перестает действовать при появлении его новой версии.</li>
            <li>Администрация оставляет за собой право изменять данное Соглашение по своему усмотрению.</li>
            <li>Администрация не обязана уведомлять пользователей об изменениях в Соглашении.</li>
        </ul>

        <div class="button__wrapper">
            <a href="@Url.Action("Login","Home")" class="button button__play" style="justify-content:center;">Вернуться в меню</a>
        </div>

    </div>
</div>
