.none{
    display:none;
}

a:hover{
    color:white;
}

.main {
    height: 100vh;
}

.container{
    width:100vw;
    margin:0;
}

.head__mode_part{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    height:100px;
    width:99vw;
    padding:25px;
}


.head__mode_left{
    display:flex;
    justify-content:flex-start;
}
.logo__img{
    display:flex;
    justify-content:center;
}

.google__logout {
    border: none;
    padding: 8px 16px;
    background-color: #5A5EB9;
    border-radius: 15px;
    height: fit-content;
    margin: 32px 32px 10px;
}

.google__logout:hover{
    transform:scale(1.1);
    transition:0.2s ease;
}

.google__logout_btn {
    font-size: 18px;
    font-weight: 700;
    color:white;
    /*color: #CFCFCF;*/
    /*padding: 32px 32px 10px;*/
}

.google__logout_btn:before{
    content:"Выйти";
}


.head__mode_right {
    display: flex;
    justify-content: flex-end;
}

/*Logo*/
.main__logo_landing{
    width: 400px;
    padding-top:40px;
}

.chat-msg {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.msg-avatar {
    margin-right: 10px;
}

.avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.cm-msg-text {
    background: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    max-width: 60%;
}




.logo__profile {
    width: 32px;
    height: 32px
}

.settings {
    display: flex;
    justify-content: flex-start;
}

.button__settings {
    display: flex;
    height: 42px;
    width: 42px;
    align-items: center;
    border-radius: 100%;
    border: none;
    background-color: #3f99ff;
    padding: 5px
}


/*Main*/
.container__mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100% - 100px);
}

.carousel_container{
    width:max(40vw,480px);
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    width: 350px;
    display: block;
    background: #808080;
    padding: 22px;
    border-radius: 12px;
    text-decoration: none;
    border:2px solid transparent;
    box-shadow: 0 10px 10px rgba(0,0,0,0.05);
    transition:0.2s ease;
}

.card-list .card-item .card-link:hover{
    transform:scale(1.1);
}



.card-list .card-link .card-image{
    width:128px;
}

.card-list .card-link .card-title{
    font-size:1.19rem;
    color:white;
    font-weight:700;
    letter-spacing:1px;
    margin:0;
}

.card-list .card-item .card-link{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.card-list .card-item {
    display: flex;
    justify-content: center;
    padding-right:60px;
}

.card-wrapper .swiper-pagination {
    top: 90% !important;
}

.card-wrapper{
    padding:15px;
}



.easy__mode_container {
    border-radius: 18px;
    outline: 4px;
    border: 10px solid #00000061;
    background: #41CAC2;
    width: 260px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.hard__mode_container {
    border-radius: 18px;
    outline: 4px;
    border: 10px solid #00000061;
    background: #A52F2F;
    width: 260px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.duel__mode_container {
    border-radius: 18px;
    outline: 4px;
    border: 10px solid #00000061;
    background: #C021C3;
    width: 260px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display:flex;
    flex-direction:row;
    gap:20px;
}

.easy__mode_link,
.hard__mode_link,
.duel__mode_link {
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding:5px;
}

/*Game-modal*/
.game-modal {
    width: 1100px;
    background-color: #355873;
    color: white;
}

.close {
    filter: brightness(0) invert(1);
}

.center{
    width:100%;
    text-align:center;
}

.align-center {
    justify-content: center;
}

.button-confirm {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    padding: 8px 16px;
    gap: 5px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    width: 150px;
    border-radius: 8px;
    box-sizing: border-box;    
    cursor: pointer;
    box-shadow: 0px 4px 0px #2c8f89;
    transition: .1s all ease-in-out;
}

.button-confirm:hover {
    transform: translateY(4px);
    box-shadow: 0px 0px 0px #2c8f89;
}

.button-confirm:active {
    transform: scale(0.95);
}

.easy {
    background-color: #41CAC2;
}

.hard {
    background-color: #A52F2F;
    box-shadow: 0px 4px 0px #6b1f1f;
}

.duel {
    background-color: #b21cb5;
    box-shadow: 0px 4px 0px #6b146d;
}

/*Media requests*/

@media (min-width: 836px) and (min-height: 650px) {
    .category_selector {
        padding-top: unset;
        padding-bottom: unset;
    }
}

@media(max-width:1150px){
    .main__logo_landing {
        width: clamp(250px, 45vw, 300px);
        padding-top: 80px
    }
    
    .wrapper{
        flex-direction: column;
    }

    .modal-dialog-centered.modal-dialog-scrollable .modal-content {
        width: 90vw !important;
    }

    .head__mode_part {
        padding: 16px 16px 16px;
    }

    .head__back {
        font-size: 18px;
    }

    .container{
        padding:0 !important;
    }

}

@media(max-width:680px){
    .google__logout{
        margin:8px 8px;
        position:absolute;
    }

    .head__mode_part {
        padding: 8px 8px;
    }

}

@media(max-height:1000px){
    .container__mode {
        height: clamp(520px, 63vh, 600px);
    }
}